---
---

{% include start.html %}
{% include header.html %}

<div class="logo-image-container">
	<img src="images/shallow2white.png" class="logo-image">
		<img src="images/lanicoconut2.jpg" class="coverphoto">
</div>

<div class="container">
	<img src="buttons/downarrowblack.png" class="downarrow">
	<h2 class="sectiontitle">Aloha</h2>
	<p class="bodytext">
		Welcome to The Shallow Reef Studio! we are a small business located on the North Shore of Oahu, Hawaii dedicated to creating unique, surf-inspired apparel. Each shirt is designed and printed by hand with aloha. 
	</p>
	<div> 
		<img src="images/std1.jpg" class="shirts">
		<img src="images/std2.jpg" class="shirts">
		<img src="images/std3.jpg" class="shirts"> 
	</div>
	<p class="bodytext">
		Our tees are printed with water based inks, which is safer for the environment and softer to the touch than standard plastisol inks. <br>It also means that the more you wear your shirt, the softer it will feel, <br>and more vintage it will look.
	</p>
	<a href="shop.html" class="link-no-style">
	<p class="shoplink">
		Shop the First Wave collection
	</p>	
	</a>
	<img src="images/wetshirt.jpg" class="secondphoto">
	<p class="bodytext">
		Our goal is to make things we actually want to wear: simple designs that complement our surfy, island lifestyle in a creative way. The Shallow Reef Studio is for the people who can't get out of the water, always need to catch one more wave, crave open air, and live for the next adventure.
	</p>
	<img src="images/sharks.jpg" class="secondphoto">
</div>

{% include footer.html %}
{% include end.html %}

