---
---

{% include start.html %}
{% include header.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.js"></script>
<script src="lookbook.js"></script>
<div>
	<img src="images/shallow2white.png" class="logo-image">
	<img src="images/cocotrees2.jpg" class="coverphoto">
</div>

<div class="container">
	<img src="buttons/downarrowblack.png" class="downarrow">
	<h2 class="sectiontitle">Look Book</h2>

<div class="gridgridgrid">
	<div class="grid lookbookimages">
	  <div class="grid-sizer"></div>
	  <div class="grid-item">
	    <img src="images/lblaying.jpg">
	  </div>
	  <div class="grid-item">
	    <img src="images/lanimoonafin.jpg">
	  </div>
	  <div class="grid-item">
	    <img src="images/standingbeach2.jpg">
	  </div>
	  <div class="grid-item">
	    <img src="images/lbbeach.jpg" />
	   </div>
	   <div class="grid-item">
	    <img src="images/hangingshirts1.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/standboard1.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/tannerhomeisbeach.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/surffujis.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/underwaterfin.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/kitingselfie.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/inbushes2.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/lbtidepool.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/lanifin.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/longboard1.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/selfiebottomturn.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/inbushes1.jpg" />
	  </div>
	  <div class="grid-item">
	    <img src="images/palmtrees.jpg" />
	  </div>
	</div>
</div>
</div>

{% include footer.html %}
{% include end.html %}