---
---

{% include start.html %}
{% include header.html %}

<div>
	<img src="images/shallow2white.png" class="logo-image">
	<img src="images/cocotrees1.jpg" class="coverphoto">
</div>

<div class="container">
	<img src="buttons/downarrowblack.png" class="downarrow">
	<div class="etsybuttoncontainer">
	<h2 class="sectiontitle etsybutton">Enter Etsy Shop</h2>
	</div>
	<p class="bodytext">
		Please visit our Etsy shop to view current stock and make purchases.<br>Or view all styles below. 
	</p>
	<div> 
		<img src="images/std1.jpg" class="shirts">
		<img src="images/std2.jpg" class="shirts">
		<img src="images/std3.jpg" class="shirts"> 
	</div>
</div>
{% include footer.html %}
{% include end.html %}