<div class="stickybar">
	<div class="menu-container container">
		<div class="menu">
			<div class="menubutton link-no-style"><a href="/">aloha</a>
			</div>
			<div class="menubutton link-no-style"><a href="shop.html">shop</a>
			</div>
			<a href="/">
				<img src="images/shallow2small.png" class="smalllogo">
			</a>
			<div class="menubutton link-no-style"><a href="lookbook.html">lookbook</a>
			</div>
			<div class="menubutton link-no-style"><a href="contact.html">contact</a>
			</div>
		</div>
	</div>
</div>