<div class="stickybar">
	<div class="menu-container container">
		<div class="menu">
			<div class="menubutton link-no-style"><a href="index.html">aloha</a>
			</div>
			<div class="menubutton link-no-style"><a href="shop.html">shop</a>
			</div>
			<img src="images/shallow2small.jpg" class="smalllogo">
			<div class="menubutton link-no-style"><a href="lookbook.html">lookbook</a>
			</div>
			<div class="menubutton link-no-style"><a href="contact.html">contact</a>
			</div>
		</div>
	</div>
</div>